<section>
    <div class="bg-blue-500">


        <div class="container mx-auto px-4 h-screen flex items-center justify-center ">
            <div class="list-container w-full">
                <h2 class="text-4xl font-bold text-white mb-2 animate-slide-in text-center py-2">
                    Your Business Website...
                </h2>
                <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <li
                        class="py-4 flex flex-col items-center transition duration-300 ease-in-out transform hover:scale-105 hover:bg-light-blue rounded-lg">
                        <h3 class="text-3xl font-semibold text-white text-center mb-4">Sells Globally, 24/7</h3>
                        <i class="pi pi-globe text-8xl text-white animate-fade-in"></i>
                    </li>
                    <li
                        class="py-4 flex flex-col items-center transition duration-300 ease-in-out transform hover:scale-105 hover:bg-light-blue rounded-lg">
                        <h3 class="text-3xl font-semibold text-white text-center mb-4">Builds Credibility</h3>
                        <i class="pi pi-shield text-8xl text-white animate-fade-in"></i>
                    </li>
                    <li
                        class="py-4 flex flex-col items-center transition duration-300 ease-in-out transform hover:scale-105 hover:bg-light-blue rounded-lg">
                        <h3 class="text-3xl font-semibold text-white text-center mb-4">Provides Valuable Insights</h3>
                        <i class="pi pi-chart-line text-8xl text-white animate-fade-in"></i>
                    </li>
                    <li
                        class="py-4 flex flex-col items-center transition duration-300 ease-in-out transform hover:scale-105 hover:bg-light-blue rounded-lg">
                        <h3 class="text-3xl font-semibold text-white text-center mb-4">Streamlines Business Processes</h3>
                        <i class="pi pi-cog text-8xl text-white animate-fade-in"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>