<nav
  class="navbar fixed w-full top-0 left-0 transition-transform duration-300 ease-in-out z-50"
  [ngClass]="{'hidden': navbarHidden, 'navbar-scrolled': navbarScrolled}"
  aria-label="Primary navigation"
>
  <div class="container mx-auto nav-container">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/images/ShortSticker1.png" alt="Logo" class="logo-image">
      </a>
    </div>
    
    <div class="nav-links">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
    </div>
  </div>
</nav>
