<section class="hero flex items-center justify-center h-screen bg-gradient-to-b from-blue-100 to-white relative text-center">
  <div class="hero-content p-8">
    <div class="flex flex-col items-center">
      <img src="assets/images/longlogo1.png" alt="Long Logo" class="long-logo" style="margin-bottom: 20px;">
      <h1 class="text-4xl md:text-6xl font-bold text-gray-800 mt-6">Your Vision, Our Creation</h1>
    </div>
    <p class="mt-4 text-lg md:text-2xl text-gray-600">Transforming ideas into reality with innovative web solutions.</p>
    <button pButton class="p-button p-component p-button-primary mt-6 custom-button" routerLink="/contact">Get in Touch</button>
    
    
  </div>
  <div class="scroll-btn absolute bottom-8 transform -translate-x-1/2 mt-8">
      <div class="text-lg text-gray-700 mb-4">Don't believe us? Let us convince you</div>
      <i class="pi pi-chevron-down text-4xl animate-bounce cursor-pointer" (click)="scrollToNextElement()"></i>
    </div>
</section>
