
  <!-- footer.component.html -->
  <div class="footer">
    <div class="footer-section">
      <a routerLink="/about" class="footer-title">About Us</a>
      <p>Transforming ideas into reality with innovative web solutions...</p>
    </div>
    <div class="footer-section">
        <h3 class="footer-title">Contact Us Today!</h3>
        <p><a href="mailto:derekd@wdwebsolutions.com">derekd&#64;wdwebsolutions.com</a></p>
        <p><a href="mailto:zachw@wdwebsolutions.com">zachw&#64;wdwebsolutions.com</a></p>
    </div>
  </div>
  