<!--<section class="hero">
    <div style="height: 100px;"></div> 
    <div class="chart-container">
        <p-organizationChart [value]="data" [collapsible]="true" class="p-organizationchart">
            <ng-template let-node pTemplate="person">
                <div class="p-organizationchart-nodes">
                    <div class="p-2 text-center">
                        <img 
                            [src]="node.data.image" 
                            class="mb-3 w-3rem h-3rem" />
                        <div class="font-bold">
                            {{ node.data.name }}
                        </div>
                        <div>
                            {{ node.data.title }}
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-organizationChart>
    </div>

</section> -->
<div style="height: 100px;"></div> 
<section>
    <div class="bg-blue-500 py-4 px-4 text-center">
        <h2 class="text-4xl font-bold text-white mb-6 animate-slide-in">
            About the owners!
        </h2>
    </div>
    <section class="section-wrapper">
        <div class="p-grid content-wrapper">
            <div class="p-col-12 p-md-6 column">
                <img src="assets/images/derekd.jpeg" alt="Derek Dreibrodt" class="headshot">
                <h2 class="column-title">Derek Dreibrodt</h2>
                <p>derekd&#64;wdwebsolutions.com</p>
                <br>
                <p>
                    As the Lead Developer at WD Web Solutions, Derek graduated from The University of Texas with a BBA in Management Information Systems.
                    Derek also has certificates from UT Austin in Computer Science and Applied Statistical Modeling. Derek is now employed as a Data Engineer 
                    for Western Monroe where he builds software for Fortune 500 companies.
                </p>
            </div>
            <div class="p-col-12 p-md-6 column">
                <img src="assets/images/zachw.jpeg" alt="Zachary Whittenton" class="headshot">
                <h2 class="column-title">Zachary Whittenton</h2>
                <p>zachw&#64;wdwebsolutions.com</p>
                <br>
                <p>
                    As a Senior Developer for WD Web Solutions, Zach graduated from the University of Texas at San Antonio with a BBA in Information Systems.
                    Zach started his career off as a Business Solution Analyst Intern for Voiant Group where he utilized
                    Anaplan to improve and automate Sales Performance Management. Zach is now employed as a Business Analyst for 
                    DaVita IKC where he is automating healthcare systems for dialysis patients.
                </p>
            </div>
        </div>
    </section>
     
</section>