<section class="hero">
    <div style="height: 100px;"></div> 
    <div class="chart-container">
        <p-organizationChart [value]="data" [collapsible]="true" class="p-organizationchart">
            <ng-template let-node pTemplate="person">
                <div class="p-organizationchart-nodes">
                    <div class="p-2 text-center">
                        <img 
                            [src]="node.data.image" 
                            class="mb-3 w-3rem h-3rem" />
                        <div class="font-bold">
                            {{ node.data.name }}
                        </div>
                        <div>
                            {{ node.data.title }}
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-organizationChart>
    </div>

</section>
<div style="height: 100px;"></div> 
<section>
    <div class="bg-blue-500 py-8 px-4 text-center">
        <h2 class="text-4xl font-bold text-dark-blue mb-6 animate-slide-in">
            About the owners!
        </h2>
    </div>
    <section class="section-wrapper">
        <div class="content-wrapper">
            <p>
                Lorem ipsum dolor sit amet...
            </p>
            <p-divider type="solid"></p-divider>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
            </p>
        </div>
    </section>
    
    
    
</section>