<!-- In your HTML body -->
<div class="flex justify-center px-4"> <!-- Centers the content and adds padding -->
    <div class="grid grid-cols-3 gap-4">
        <p-card header="Card 1" class="w-64 h-96 border border-gray-300 p-4 shadow">
            <p class="m-0">
                Lorem ipsum dolor sit amet...
            </p>
        </p-card>
        <p-card header="Card 2" class="w-64 h-96 border border-gray-300 p-4 shadow">
            <p class="m-0">
                Lorem ipsum dolor sit amet...
            </p>
        </p-card>
        <p-card header="Card 3" class="w-64 h-96 border border-gray-300 p-4 shadow">
            <p class="m-0">
                Lorem ipsum dolor sit amet...
            </p>
        </p-card>
    </div>
</div>
